/* Hoja Beneficios */
.container-beneficios{
    align-items: center;
}
.container-beneficios h1{
padding-top: 6.25rem;
padding-bottom: 6.25rem;
color: #ff3366;
font-weight: 400;

h3{
    color: #2ec4b6;
    font-weight: 600;
}
p{
    text-align: justify;
}
}


.feature{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
@media only screen and (max-width: 991px) {
   
      .container-beneficios h1{
        color: #ff3366;
        font-size: 35px;
        
    }
.icono-dg{
display:inline-block;

}
}

@media (max-width:500px) {
  .container-beneficios h1{
    font-size: 20px;
}
}

